.smaller
    font-size .85em
.smallest
    font-size 0.55em
    
iframe
    border 1px solid #aaa

#cover
    &:after
        opacity 0
    h2
        margin:30px 0 0;
        color:#FFF;
        text-align:center;
        font-size:70px;
    p
        margin:50px 0 0;
        text-align:center;
        color:#FFF;
        font-style:italic;
        font-size:20px;
        opacity 0.75
        a
            color:#FFF;
            
.cover
    img
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;   
    h2
        color: #FFF;     
        
.img-full
    text-align center
    img
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left -25%
    
        
.end-link
    bottom: 15%
    position: absolute
    width: 100%
    padding: 0 40px
    opacity 0.5
    a
        color: #fff