.smaller
    font-size .85em
.smallest
    font-size 0.55em
    
iframe
    border 1px solid #aaa

#cover
    img
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
    h2
        margin:30px 0 0;
        color:#FFF;
        text-align:center;
        font-size:70px;
    p
        margin:10px 0 0;
        text-align:center;
        color:#FFF;
        font-style:italic;
        font-size:20px;
        a
            color:#FFF;
            
            