main-color = #2E4990

.slide::after
	background main-color
	height 75px
	border-radius 0 0 10px 10px

.hightlight
.important
	border-radius 0.2em
	padding 0.1em 0.3em
.hightlight
	background #fafaa2
.important
	background main-color
	color #fff
.comment
	color #999999
	
.progress
	border-color main-color rgba(0, 0, 0, 0) main-color main-color
	

.tag
	color #AD1531
.attr
	color #4F7302
	
