// Lists
section.slide
  h2 Shower key features
  ol
    li Built on HTML, CSS and vanilla JavaScript
    li Works in all modern browsers
    li Themes are separated from engine
    li Modular and extensible
    li Fully keyboard accessible
    li Printable to PDF
  ol
    li Simple lists are marked with bullets
    li Ordered lists begin with a number
    li
      | You can even nest lists one inside another
      ul
        li Or mix their types
        li But do not go too far
        li Otherwise audience will be bored
        li Look, seven rows exactly!

// Notes
section.slide
  p.note Shower ['ʃəuə] noun. A person or thing that shows.

// Code
section.slide
  h2 Code samples
  pre
    code &lt;!DOCTYPE html&gt;
    code.mark &lt;html lang="en"&gt;
    code.mark
      span &lt;head&gt; 
      span.comment &lt;!--Comment--&gt;
    code &lt;title&gt;Shower&lt;/title&gt;
    code &lt;meta charset="
      span.important UTF-8
      | "&gt;
    code &lt;link rel="stylesheet" href="screen.css"&gt;
    code
      span &lt;/head&gt;

// Tables
section.slide
  h2 Even tables
  table
    tr
      th(scope='col') Locavore
      th Umami
    tr
      th(scope='row') Fingerstache
      td Kale
    tr
      th(scope='row') Sriracha
      td Gluten-free
    tr
      th(scope='row') Thundercats
      td Jean