include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Готовим модульную архитектуру из JS-лапши"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="vendor/highlight.css")
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x10.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja') @neesoglasnaja
        | )
    +slide({header: "Проблема", shout: true})
      img(src='pictures/long-hell.png', width="100%")
    +slide({header: "Модульность!", shout: true})
    +slide({header: "Подход к организации кода"})
      p две картинки
    +slide({classes:'cover menu-slide'}) 
      h2.transparent Инструменты
      ul
        li.selected-item Pug (Jade)
        li.transparent PostCSS
        li.transparent ES6 / Babel
        li.transparent Webpack
        li.transparent Оптимизаторы, линтеры
    +slide({header: "Webpack"})
      img(src='pictures/webpack.png', width="40%")
    +slide({header: "PostCSS"})
      img(src='pictures/postcss.png', width="40%")
    +slide({header: "ES6 / Babel"})
      img(src='pictures/es6.png', width="40%")
      img(src='pictures/babel.png', width="40%")
    +slide({header: "Оптимизаторы, линтеры"})
      img(src='pictures/eslint.jpg', width="40%")

    +slide({header: "Design patterns"})
      img(src='pictures/patterns.jpg', width="40%")
    +slide({header: "Модульность в ES5", shout: true})
      ul
        li AMD
        li CommonJS
        li UMD
    +slide({header: "Модульность в ES6", shout: true})      
    +slide({header: "Код в модуле", shout: true})
    +slide({header: "Вместо вывода", classes: "label-header"})
      img(src='pictures/today.jpg', width="100%")
    .progress
    script(src='shower/shower.min.js')
    script(src="vendor/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad();